* {
    font-family: 'Montserrat', sans-serif;
    margin: auto 0px;
}

.cuerpo{
    background-color: rgb(24, 28, 48);
    color: #E6DDC4;
}

nav {
    display: flex;
    margin: 0px 40px;
    align-items: center;
    justify-content: space-between;
}

.transiciones {
    display: flex;
    list-style-type: none;
    width: 300px;
    justify-content: space-around;
}

.trans-item {
    padding: 10px;
    background-color: #E6DDC4;
    box-shadow: 2px 3px #678983;
    border-radius: 10px;
    text-decoration: none;
    color: #181d31;
    font-weight: 300px;
}

header {
    display: flex;
    justify-content: space-around;
    min-height: 500px;
    color: white;
    background: url(./assets/codigo.jpg);
    background-size: cover;
    align-items: center;
    padding: 0px 100px;
}

.titulo {
    text-shadow: 2px 2px gray, 6px 6px black;
    font-size: 55px;
    text-align: center;
}
